@import "../../Common_css/Theme.scss";

.header {
  margin-top: 15rem;
  margin-left: 4rem;
}

.header-img {
  display: block;
  height: auto;
  width: 130%;
  margin-bottom: 4rem;
}

.text-margin {
  margin-bottom: 12rem;
}
.marginbtn {
  margin-right: 20rem;
}
.heading {
  color: $white;
  font-size: 5.2rem;
  font-weight: 700;
  margin-left: 8rem;
  line-height: 6rem;
}

.text {
  color: $white;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 6rem;
  margin-left: 8rem;
  line-height: 2.6rem;
}

@media screen and (max-width: 992px) {
  .header-img {
    width: 100%;
  }

  .heading {
    font-size: 3rem;
    margin-left: 0rem;
    line-height: 3rem;
  }
  .text {
    margin-right: 0rem;
  }
  .marginbtn {
    margin-right: 0rem;
  }
}
