.btn {
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 2.25rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.body-text {
  font-size: 2.1rem;
  font-weight: 600;
}

.body-heading {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 6rem;
}

li {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}
