.headerbg {
  background-image: url(./Assest/bg-img.jpg);
  height: auto;
  background-size: cover;
}
.counterbg {
  background-image: url(./Assest/bg2.jpg);
  height: auto;
  background-size: cover;
}
